@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

/* hard reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background-color: black;
 	font-family: 'Outfit', sans-serif;
	font-size: 15px;
}

.wrapper {
  align-items: center;
	margin: 1rem auto;


  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  max-height: 95vh;
}

#card {
	/* width: 300px;
  height: 500px; */
  width: 375px;
  height: 667px;
  
	margin: 2rem 2rem;
  padding: 2rem auto; 

  background-color: var(--dark-blue);
  border-radius: 10px;
	/* display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center; */
}

#rating {
  display: flex;
  padding: 1rem 1rem;
  display: block;
}

#result {
	margin: 1rem auto;
  display: none;
}

.how {
  color: var(--white);
}

.desc {
  color: var(--medium-grey);
}

.star {
  display: flex;
  height: 3rem;
  width: 3rem;
  justify-content: center;

  align-items: center;
  background-color: var(--dark-blue);
}

.how {
	margin: 1rem auto;
}

.score {
	margin: 1rem;
  display: flex;
	justify-content:space-between;
  gap: 10px;
  
}

.circle {
  background-color: hsl(216, 12%, 54%);
  width: 20px;
  height: 20px;
  border-radius: 15px;
  text-align: center;

  cursor: pointer;
}

.circle.active {
  background-color: var(--light-grey);
  color: var(--white);
}

.circle:hover {
  background: var(--orange);
}

.submit {
  width: 100%;
  background-color: var(--orange);
  border: none;
  padding: 1rem;
  color: var(--white);
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.submit:hover {
  background-color: var(--white);
  color: var(--orange);
}

