@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
 	font-family: 'Outfit', sans-serif;
	font-size: 15px;
}

#card {
	width: 375px;
	color: hsl(0, 0%, 100%);
	background-color: hsl(216, 12%, 8%);

	display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: center;

	margin: 1rem auto;
}

.how {
	margin: 1rem auto;
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.rating {
	margin: 1rem;
  display: flex;
	justify-content:space-between;
}

.circle {
  background-color: hsl(216, 12%, 54%);
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 1rem;  
}

